mixin fashion(img, width, height)
    .fashion
        picture.fashion__picture 
            source(type="image/webp" srcset="@img/tmp/"+img+"@2x.webp 2x, @img/tmp/"+img+".webp 1x")
            img(srcset="@img/tmp/"+img+"@2x.jpg 2x, @img/tmp/"+img+".jpg 1x" alt="" width=width height=height loading="lazy")
        button.fashion__btn.btn-circle(type="button" data-fancybox data-src="#modal-fashion")
            svg.fashion__btn-icon
                use(xlink:href="@img/icons/icons.svg#cart")
            | Посмотреть образ

mixin product(title, price, img, width, height, label, favourites, item, swiper)
    article.product
        button.product__favourites(class=favourites type="button")
            svg(width="26" height="26")
                use(xlink:href="@img/icons/icons.svg#favourites")
        .product__label=label
        a.product__pictures(href="#" data-product-pictures)
            picture.product__picture._active(data-item="1")
                source(type="image/webp" srcset="@img/tmp/"+img+"@2x.webp 2x, @img/tmp/"+img+".webp 1x")
                img(srcset="@img/tmp/"+img+"@2x.jpg 2x, @img/tmp/"+img+".jpg 1x" alt="" width=width height=height loading="lazy")
            picture.product__picture(data-item="2")
                source(type="image/webp" srcset="@img/tmp/product-8@2x.webp 2x, @img/tmp/product-8.webp 1x")
                img(srcset="@img/tmp/product-8@2x.jpg 2x, @img/tmp/product-8.jpg 1x" alt="" width=width height=height loading="lazy")
            picture.product__picture(data-item="3")
                source(type="image/webp" srcset="@img/tmp/product-7@2x.webp 2x, @img/tmp/product-7.webp 1x")
                img(srcset="@img/tmp/product-7@2x.jpg 2x, @img/tmp/product-7.jpg 1x" alt="" width=width height=height loading="lazy")
            picture.product__picture(data-item="4")
                source(type="image/webp" srcset="@img/tmp/product-6@2x.webp 2x, @img/tmp/product-6.webp 1x")
                img(srcset="@img/tmp/product-6@2x.jpg 2x, @img/tmp/product-6.jpg 1x" alt="" width=width height=height loading="lazy")
        h3.product__title
            a.product__link.link(href="#")=title
        .product__price=price

mixin categories_item(title, img, star)
    article.categories__item(role="article" data-categories-item)
        .categories__item-content
            h3.categories__item-title(data-categories-item-target)
                a(href="#")=title
            a.categories__item-link.link._italic(href="#") Перейти
        picture.categories__item-picture(data-categories-item-picture)
            source(type="image/webp" srcset="@img/tmp/"+img+"@2x.webp 2x, @img/tmp/"+img+".webp 1x")
            img(srcset="@img/tmp/"+img+"@2x.jpg 2x, @img/tmp/"+img+".jpg 1x" alt="" width="278" height="258" loading="lazy")
        if star 
            svg.categories__item-star(width="30" height="30")
                use(xlink:href="@img/icons/icons.svg#intro-star")

mixin home_services_item(title, img, img_mobile)
    article.home-services__item(data-categories-item)
        picture.home-services__item-picture(data-categories-item-picture)
            source(type="image/webp" srcset="@img/tmp/"+img+"@2x.webp 2x, @img/tmp/"+img+".webp 1x" media="(min-width: 768px)")
            source(type="image/jpeg" srcset="@img/tmp/"+img+"@2x.jpg 2x, @img/tmp/"+img+".jpg 1x" media="(min-width: 768px)")
            source(type="image/webp" srcset="@img/tmp/"+img_mobile+"@2x.webp 2x, @img/tmp/"+img_mobile+".webp 1x" media="(max-width: 767px)")
            source(type="image/jpeg" srcset="@img/tmp/"+img_mobile+"@2x.jpg 2x, @img/tmp/"+img_mobile+".jpg 1x" media="(max-width: 767px)")
            img(srcset="@img/tmp/"+img+"@2x.jpg 2x, @img/tmp/"+img+".jpg 1x" alt="" width="391" height="430" loading="lazy")
        h3.home-services__item-title(data-categories-item-target)
            a(href="#")=title
        a.home-services__item-link.link._italic(href="#") Перейти
        svg.home-services__item-star(width="30" height="30")
            use(xlink:href="@img/icons/icons.svg#intro-star")

mixin filter_item_cut(title)
    fieldset.filter__item._small(data-filter-item data-filter-more-parent)
        p.filter__title(data-filter-title)=title
            span.filter__title-icon
                svg(width="13" height="16")
                    use(xlink:href="@img/icons/icons.svg#filter-arrow")
        .filter__cuts.filter__content(data-filter-content)
            +filter_cut('Круг', 'cut-1')
            +filter_cut('Эмеральд', 'cut-2')
            +filter_cut('Овал', 'cut-3')
            +filter_cut('Багет', 'cut-4')
            +filter_cut('Груша', 'cut-5')
            +filter_cut('Маркиз', 'cut-6')
            +filter_cut('Ашер', 'cut-7')
            +filter_cut('Принцесса', 'cut-8')
            +filter_cut('Сердце', 'cut-9')
            +filter_cut('Радиант', 'cut-10')
            +filter_cut('Кушон', 'cut-11')
            +filter_cut('Триллион', 'cut-12')
            +filter_cut('Без названия', 'cut-13')
            +filter_cut('Без названия', 'cut-14')
            +filter_cut('Без названия', 'cut-15')
            +filter_cut('Без названия', 'cut-16')
            +filter_cut('Без названия', 'cut-17')
            +filter_cut('Без названия', 'cut-18')
            +filter_cut('Без названия', 'cut-19')
            +filter_cut('Без названия', 'cut-20')
            +filter_cut('Без названия', 'cut-21')

        button.filter__more.btn-reset.link.animation-link(type="button" data-filter-more data-filter-more-default="Еще огранки")
            span._wrap
                span._default Еще огранки 
                span._hover Еще огранки

mixin filter_cut(title, icon)
    .filter__cut
        input.filter__cut-input(type="checkbox" name="cut" id=icon)
        label.filter__cut-label(for=icon data-tooltip=title)
            svg.filter__cut-icon(width="35" height="35")
                use(xlink:href="@img/icons/icons.svg#"+icon)

mixin filter_item_clean(title)
    fieldset.filter__item._small(data-filter-item)
        p.filter__title(data-filter-title)=title
            span.filter__title-icon
                svg(width="13" height="16")
                    use(xlink:href="@img/icons/icons.svg#filter-arrow")
        .filter__checkboxes.filter__content._clean(data-filter-content)
            +filter_checkbox('IF', 'clean', 'clean-1', '')
            +filter_checkbox('VVS1', 'clean', 'clean-2', '')
            +filter_checkbox('VVS2', 'clean', 'clean-3', '')
            +filter_checkbox('VS1', 'clean', 'clean-4', '')
            +filter_checkbox('VS2', 'clean', 'clean-5', '')
            +filter_checkbox('SI1', 'clean', 'clean-6', '')
            +filter_checkbox('SI2', 'clean', 'clean-7', '')
            +filter_checkbox('I1', 'clean', 'clean-8', '')
            +filter_checkbox('I2', 'clean', 'clean-9', '')
            +filter_checkbox('I3', 'clean', 'clean-10', '')

mixin filter_item_price(title, classname)
    fieldset.filter__item(data-filter-item class=classname)
        p.filter__title(data-filter-title)=title
            span.filter__title-icon
                svg(width="13" height="16")
                    use(xlink:href="@img/icons/icons.svg#filter-arrow")
        .filter__range.filter__content(data-range-wrap data-filter-content)
            input(type="hidden" name="price_from" value="30000" data-range-input-from)
            input(type="hidden" name="price_to" value="80000" data-range-input-to)

            .filter__range-inputs
                .filter__range-title от
                .filter__range-fake-input
                    .filter__range-input(data-range-from) 30000
                    | ₽
                .filter__range-title до
                .filter__range-fake-input
                    .filter__range-input(data-range-to) 80000
                    | ₽
            .filter__range-init(data-range data-range-min="0" data-range-max="100000" data-range-step="1000" data-range-min-value="30000" data-range-max-value="80000")

mixin filter_item_weight(title, classname)
    fieldset.filter__item(data-filter-item class=classname)
        p.filter__title(data-filter-title)=title
            span.filter__title-icon
                svg(width="13" height="16")
                    use(xlink:href="@img/icons/icons.svg#filter-arrow")
        .filter__range.filter__content(data-range-wrap data-filter-content)
            input(type="hidden" name="weight_from" value="0.5" data-range-input-from)
            input(type="hidden" name="weight_to" value="2" data-range-input-to)

            .filter__range-inputs
                .filter__range-title от
                .filter__range-fake-input
                    .filter__range-input(data-range-from) 0.5
                    | Карат
                .filter__range-title до
                .filter__range-fake-input
                    .filter__range-input(data-range-to) 2
                    | Карат
            .filter__range-init(data-range data-range-min="0" data-range-max="2.4" data-range-step="0.01" data-range-min-value="0.5" data-range-max-value="2")

mixin filter_item_sizes(title, classname)
    fieldset.filter__item(data-filter-item class=classname)
        p.filter__title(data-filter-title)=title
            span.filter__title-icon
                svg(width="13" height="16")
                    use(xlink:href="@img/icons/icons.svg#filter-arrow")

        .filter__range.filter__content(data-range-wrap data-filter-content)
            .filter__range-inputs._custom
                .filter__range-title Длина
                .filter__range-title от
                input.filter__range-fake-input(type="text" name="length_from" placeholder="0" data-input-int)
                .filter__range-title до
                input.filter__range-fake-input(type="text" name="length_to" placeholder="0" data-input-int)

            .filter__range-inputs._custom
                .filter__range-title Ширина
                .filter__range-title от
                input.filter__range-fake-input(type="text" name="width_from" placeholder="0" data-input-int)
                .filter__range-title до
                input.filter__range-fake-input(type="text" name="width_to" placeholder="0" data-input-int)

mixin filter_bottom_controls
    .filter__form-bottom.filter__spoiler-wrap
        button.btn-reset.filter__spoiler(type="button" data-filter-spoiler) 
            span Еще фильтры
            span Скрыть

    .filter__form-bottom
        .filter__btns
            button.filter__submit.btn._green(type="submit") Применить
            button.filter__reset.btn._transparent-gray-border(type="reset") Очистить